<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">

<div *ngIf="resturant_details" class="card" class="{{cardType}}">
    
    <img fxHide.gt-sm [ngClass]="resturant_details.sign_dish ? 'img-dish' : 'img-res'" src={{resturant_details.img}}> 
    <img fxHide.lt-md src={{resturant_details.img}}> 
    <div class="details" *ngIf="resturant_details._id">
        <h2 class="title" [ngClass]="resturant_details.sign_dish ? 'dish' : 'restaurant'">{{ resturant_details.name}}</h2>
        <p class="sub-title" [ngClass]="resturant_details.sign_dish ? 'products' : 'chef'">{{resturant_details.sign_dish ? resturant_details.ingredients : resturant_details.chef.name}}</p>
        <div *ngIf="resturant_details.sign_dish" class="dishContent">
            
            <div class="icon-img"><img  src={{icons[resturant_details.tags[0]]}} alt=''></div>
            <div class="price">
                <div class="line"></div>
                <p> ₪ {{resturant_details.price}} </p>
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>

</div>