<div class="about-container">
    <div class="content">
        <h2>ABOUT US :</h2>
        <p class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel justo fermentum
            bibendum
            non
            eu ipsum. Cras porta malesuada eros, eget blandit
            turpis suscipit at. Vestibulum sed massa in magna sodales porta. Vivamus elit urna,
            dignissim a vestibulum. <br><br>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel justo fermentum bibendum no
            eu ipsum. Cras porta malesuada eros.
        </p>
    </div>
    <div class="icons">
        <div class="icon">
            <img src="assets/about-logo.png" alt="">
        </div>
        <div class="downloads">
            <div class="download">
                <img src="assets/shape.svg" alt="">
                <p> Download on the <br> App Store</p>
            </div>
            <div class="download">
                <img src="assets/path.svg" alt="">
                <p>
                    Get it on <br> Google Play
                </p>
            </div>
        </div>
    </div>
</div>
