@import '../../../styles.scss';

.about-container{
    width: 100%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    margin: 517px 0 0 0;
    position: relative;

    .content{
        padding-top: 65px;
        width: 35%;
        margin: 0px 10%;
    h2{
        @extend %h2-title;
        height: 35px;
        // margin: 65px 0 20px 0;
        text-align: left;
    }
    
    .about{
        width: 567px;
        height: 269px;
        font-size: 22px;
        font-weight: 100;
        font-family: $font-stack;
        letter-spacing: 1.69px;
        margin-bottom: 110px;


    }
}

.icons{

    .icon{
        height: 129px;
        position: absolute;
        right: 15%;        }
        
        img{
            background-color: #fafafa;
        }
        .downloads{
            width: 40%;
            margin: 0 9.5%;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 10px;
            left: 0;
            .download{
                height: 52.8px;
                padding: 8px 11.7px 7.4px 10.5px;
                border-radius: 9.6px;
                border: solid 0.6px black;
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 30%;
                max-width: 180px;
                margin: 20px 8px;
            }


}


}
}


