@import '../../../styles.scss';

.icons-meaning-container {
    font-family: $font-stack;
    height: 265px;
    background-color: #fafafa;
    margin-top: 87px;


    h2{
        @extend %h2-title;
        height: 35px;
        padding: 24px;

    }

    .icons{
        display: flex;
        width: 100%;
        justify-content: center;
        text-align: center;
        
        .icon{
            width: 12%;

            img{
                height: 67px;
                        }

            .icon-title{
                width: 100%;
                justify-content: center;
                font-size: 25.2px;
                font-weight: 100;
            }
        }
    }  
}