@import '../../../styles.scss';

.desktop{
    .input {
        @extend %input-style;
    }
    .input::placeholder{
        @extend %input-placeholder;
    }
    
    .intro{
        background-position: 3%;
        width: 511px;
        height: 48px;
        padding: 0 13px 0 16px;
    }
    
    .intro::placeholder{
        width: 367px;
        height: 26px;
        padding-left: 22px;
        font-size: 24px;
        margin: 2px 0 3px 20px;
    }
    
    .header{
        width: 415px;
        height: 34px;
        padding: 0 13px 0 16px;
        background-position: 97%;
    }
    .header::placeholder{
        width: 301px;
        height: 21px;
        margin: 0 63px 1px 0;
        font-size: 18px;
    }
    
    .search-Icon {
        width: 22px;
        height: 22px;
        margin: 0 0 0 63px;
        object-fit: contain;
    }
}


.mobile{
    .input {
        @extend %input-style;
        border: solid 0.2px grey;
        background-size: 22px 22px;


    }
    .input::placeholder{
        @extend %input-placeholder;
        opacity: 0.8;
    }
    
    .intro{
        background-position: 3%;
        width: 259px;
        height: 33px;
        padding: 0 13px 0 16px;
    }
    
    .intro::placeholder{
        width: 217px;
        height: 16px;
        padding-left: 22px;
        font-size: 13px;
        margin: 2px 0 3px 20px;
    }
    
    .header{
        width: 415px;
        height: 34px;
        padding: 0 13px 0 16px;
        background-position: 97%;
    }
    .header::placeholder{
        width: 301px;
        height: 21px;
        margin: 0 63px 1px 0;
        font-size: 18px;
    }
    
    .search-Icon {
        width: 22px;
        height: 22px;
        margin: 0 0 0 63px;
        object-fit: contain;
    }
}