@import "~bootstrap/dist/css/bootstrap.css";
@import '../../../../styles.scss';

.table{ margin-top: 12px !important;
    width: 80%;
    margin: 0 auto;
    font-family: $font-stack;
    font-size: 20px;
  
   button + button {
margin-left: 10px;
   }
}


.thumbnail {
    width: 80px;
    height: 80px;
    // border-radius: 100%;
    background-size: cover;
    background-position: center;
} 

td{
width: 24%;
min-width: 15%;
}

.price{
    width: 6%;
    text-align: center;
    
}