    <div>
        <p>CHEF OF THE WEEK :</p>
        <div class="chef-content">
            <div class="pic">
                <div>Yossi Shitrit</div>
            </div>
            <p class="description">Chef Yossi Shitrit has been living and breathing his culinary dreams for more than
                two
                decades, including
                running the kitchen in his first restaurant, the fondly-remembered Violet, located in Moshav Udim.
                Shitrit's
                creativity and culinary acumen born of long experience are expressed in the every detail of each and
                every dish.</p>
        </div>
        <div class="chef-restaurants">
            <p>Yossi's restaurants :</p>
                <div class="card">
                    <app-card>
                    </app-card>
                </div>
                <div class="card">
                    <app-card>
                    </app-card>
                </div>
                <div class="card">
                    <app-card >
                    </app-card>
                </div>
        </div>
    </div>
