<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">

    <div class="chef-weekly-container">
        <h2>CHEF OF THE WEEK :</h2>
        <div class="chef-content">
            <div class="pic">
                <div class="chef-name">Yossi Shitrit</div> 
            </div>
            <p class="description">Chef Yossi Shitrit has been living and breathing his culinary dreams for more than
                two
                decades, including
                running the kitchen in his first restaurant, the fondly-remembered Violet, located in Moshav Udim.
                Shitrit's
                creativity and culinary acumen born of long experience are expressed in the every detail of each and
                every dish.</p>
        </div>
        <div class="chef-restaurants">
            <h3 [ngStyle]="{'margin-bottom': 0}">Yossi's restaurants :</h3>
            <div class="cards">
                <div *ngFor="let resturant of yossi_resturants" class="card" >
                    <app-mini-card [resturant_details]="resturant" >
                    </app-mini-card>
                </div>
                </div>
        </div>
    </div>

    </div>
