<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">

    <div class="chef-weekly-container">
        <h2>CHEF OF THE WEEK :</h2>
        <div class="chef-content">
            <div *ngIf="chef_details" class="pic" [ngStyle]="{'background-image': 'url(' + chef_details[0].img + ')'}">
                <div class="chef-name" > {{chef_details[0].name}}  </div> 
            </div>
            <p class="description" *ngIf="chef_details"> {{chef_details[0].description}}</p>
        </div>
        <div class="chef-restaurants" *ngIf="chef_details">
            <h3 [ngStyle]="{'margin-bottom': 0}">{{chef_details[0].name.split(' ')[0]}}'s restaurants :</h3>
            <div class="cards"  *ngIf="chef_details" >
                <swiper [config]='config' class="swiper">
                <div *ngFor="let resturant of chef_details[0].restaurants" class="card" >
                    <app-mini-card [resturant_details]="resturant" >
                    </app-mini-card>
                </div>
                </swiper>
                </div>
        </div>
    </div>

    </div>

