@import '../../../styles.scss';

.footer-container{
    font-family: $font-stack;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

p{
  height: 21px;
  margin: 0 45px 0 0;
  font-size: 18px;
//   font-weight: bold;
}
