@import '../../../styles.scss';


.desktop{
.header{
    display: flex;
    height: 53px;
    // padding: 14px 123px 5px;
    justify-content: space-between;
    
    .left-group{
      margin: 7px auto;
      display: flex;
      .logo {
        height: 33px;
        margin: 0 0 1px 0;
      }
      
        .EPICURE {
        height: 32px;
        margin: 1px 0 1px 15px;
        font-family: 'HelveticaNeue-Thin';
        font-size:  27px;
        font-weight: 100;
        letter-spacing: 1.35px;
      }    
        .Restaurants {
        height: 21px;
        margin: 7px 0 6px 31px;
        font-family: $font-stack;
        font-size: 18px;
        letter-spacing: 1.92px;
      }
      
        .Chefs {
        height: 21px;
        margin: 7px 20px 6px 28px;
        font-family: $font-stack;
        font-size: 18px;
        letter-spacing: 1.92px;
      }
    }
    
    .right-group{
      margin: 6px auto;
      display: flex;

      app-search-input{
        margin-top: 4px;
      }
      
        .User-icon {
        height: 23px;
        margin: 7px 28px 4px;
        object-fit: contain;
      }
        .Bag-icon {
        height: 22px;
        margin: 7px 0 5px 0;
        object-fit: contain;
      }
    }
  }
}

.mobile{

  .header{
    display: flex;
    height: 53px;
    padding: 0 20px;
    justify-content: space-between;
    
    .left-group{
      display: flex;
      .logo {
        height: 33px;
        margin: 8px 0 1px 122px;
        position: absolute;
         right: 50%;
      }
    }
    
    .right-group{
      display: flex;

      app-search-input{
        display: none;
      }

      .Search-icon{
        height: 18px;
        margin: 17px 0 5px 0px;
      }
      
        .User-icon {
        height: 18px;
        margin: 17px 26px 4px;
      }
        .Bag-icon {
        height: 18px;
        margin: 17px 0 5px 0;
      }
    }
  }

}

  // @media screen and (max-width: 1200px) {
  //   .header{
  //     padding: 14px 23px 5px;
  //   }
  // }
    