<div>
    <div class="main-content">
        <p>THE POPULAR RESTAURANTS IN EPICURE :</p>
            <div class="card">
                <app-card class="Claro">
                </app-card>
            </div>
            <div class="card">
                <app-card class="Lumina">
                </app-card>
            </div>
            <div class="card">
                <app-card class="Tiger Lilly">
                </app-card>
            </div>
        <a class="all-restaurants"></a>
        <p >SIGNATURE DISH OF :</p>
            <div class="card">
                <p class="title">Tiger Lilly</p>
                <app-card>
                </app-card>
            </div>
            <div class="card">
                <p class="title">Kab Kem</p>
                <app-card>
                </app-card>
            </div>
            <div class="card">
                <p class="title">Popina</p>
                <app-card>
                </app-card>
            </div>
    </div>
</div>
