// @import "~bootstrap/dist/css/bootstrap.css";
@import '../../../../styles.scss';


.buttons-bar{
    justify-content: center;
    align-items: center;
    
    button{
        // margin: auto 0;
//         width:2%;
//         // height: 50px;
margin-left:47%;
margin-right:47%;
margin-top: 9px;
    }
}