<mat-tab-group (selectedTabChange)="changeCategory($event)" mat-align-tabs="center" >
    <mat-tab label="Restaurants">Restaurants</mat-tab>
    <mat-tab label="Chefs">Chefs</mat-tab>
    <mat-tab label="Dishes">Dishes</mat-tab>
</mat-tab-group>


<button mat-raised-button color="primary" (click)="openDialog()">  
   Add {{this.ms.tableCategory != 'dishes' ? this.ms.tableCategory.slice(0,this.ms.tableCategory.length -1) : this.ms.tableCategory.slice(0,4)}}
</button> 


<app-result-table [tableData]="this.ms.tableList" [headersColums]="headersColums"></app-result-table>

<div class="button-row">
    <button mat-button color="primary" [disabled]="this.ms.tableCategory != 'restaurants' || this.ms.paginationSkipNumber<=0"
        (click)="paginationRestaurant('previous')">
        << previous page </button>

    <button mat-button color="primary"
    [disabled]="this.ms.tableCategory != 'restaurants' || this.ms.restaurantsNumber<=this.ms.paginationSkipNumber+5"
        (click)="paginationRestaurant('next')">
        next page >>
    </button>

</div>

