    <mat-tab-group 
    mat-align-tabs="center" (selectedTabChange)='changeCategory($event)' mat-stretch-tabs>
    <mat-tab label="Restaurants">Restaurants</mat-tab>
       <mat-tab label="Chefs">Chefs</mat-tab>
       <mat-tab label="Dishes">Dishes</mat-tab>
   </mat-tab-group>
<div class="buttons-bar">
    <button mat-fab color="primary" (click)="openDialog(this.selectedCategory)"><mat-icon>add</mat-icon>
    </button>
</div>

<app-result-table [tableHeaders]='headersColumns'  [tableData]="this.ms.tableList"></app-result-table>